<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
	This isn't the real 9GAG page. This is just a mockup site I made to practice Ruby on Rails. For the real 9GAG website, please go to www.9gag.com.
</p>